@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "poppins", sans-serif;
}

.grad {
  background: linear-gradient(to right, #617a55, #a4d0a4);
}

.slick-dots {
  bottom: -30px !important; 
  z-index: 8 !important; 
  position: absolute !important;
}
.slick-next {
  right: 40px !important;
}
.slick-prev {
  left: 30px !important;
  z-index: 2 !important;
}
.slick-prev:before, .slick-next:before{
  font-size: 30px !important;
}
.slick-dots li button:before {
  font-size: 16px !important;
}



