@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "poppins", sans-serif;
}

.grad {
  background: linear-gradient(to right, #617a55, #a4d0a4);
}
/* Sidebar animation styles */
.sidebar-enter {
  transform: translateX(-100%);
}
.sidebar-enter-active {
  transform: translateX(0%);
  transition: transform 300ms ease-in-out;
}
.sidebar-exit {
  transform: translateX(0%);
}
.sidebar-exit-active {
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}

.slick-dots {
  bottom: -30px !important; 
  z-index: 8 !important; 
  position: absolute !important;
}
.slick-next {
  right: 20px !important;
}
.slick-prev {
  left: 10px !important;
  z-index: 2 !important;
}
.slick-prev:before, .slick-next:before{
  font-size: 30px !important;
}
.slick-dots li button:before {
  font-size: 12px !important;
}
.text-glow {
  text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #FFF8D6, 0 0 2px #FFF8D6, 0 0 2px #FFF8D6, 0 0 2px #FFF8D6, 0 0 150px #FFF8D6;
  color: transparent;
  animation: glow 3s ease-in-out infinite;
}

@keyframes glow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


